.white {
    position: fixed;
    top: 0;
    left: 0;   
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 50%;
    padding: 3rem;
    background-color: #fff;
    position: relative;
}

.closeBtn {
    position: absolute;
    right: 3rem;
    top: 2rem;
}