.ProductInfo {
  width: 80%;
  margin: 0 auto 15rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  background-color: #fff;
}

@media screen and (max-width:373px) {
  .nav {
    font-size: 14px;
  }
}
@media screen and (max-width:320px) {
  .nav {
    font-size: 12px;
  }
}

.ProductInfo a {
  text-align: center;
  width: 50%;
  margin: 0;
  line-height: 3;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.ProductInfo .active {
  border-bottom: 2px solid orange;
  color: black;
}

.ProductInfo .inactive {
  color: darkgrey;
  border-bottom: 2px solid #5552;
}

.wrapperInfo {
  margin: 2rem auto;
}


